.oxi-addons-chart-style-6{
    width: 100%;
    margin: 0 auto;
    max-width:800px;
    padding: 10;           
}

.oxi-addons-chart-style-6 .oxi-addons-google-chart{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background: #efefef;
    margin-bottom: 20px;
}
