.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider {
    position: relative;
}

.oxi_addons_testi_slider_style_1 .testimonial-star-rating {
    padding: 0;
    margin: 0;
}

.oxi_addons_testi_slider_style_1 .testimonial-star-rating li {
    list-style: none;
    display: inline-block;
}

.oxi_addons_testi_slider_style_1 .testimonial-star-rating li .oxi-icons {
    color: #d8d8d8;
}

.oxi_addons_testi_slider_style_1 .rating-five .testimonial-star-rating li .oxi-icons {
    color: #FB644E;
}

.oxi_addons_testi_slider_style_1 .rating-one .testimonial-star-rating li:first-child .oxi-icons {
    color: #FB644E;
}

.oxi_addons_testi_slider_style_1 .rating-two .testimonial-star-rating li:nth-child(1) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-two .testimonial-star-rating li:nth-child(2) .oxi-icons {
    color: #FB644E;
}

.oxi_addons_testi_slider_style_1 .rating-three .testimonial-star-rating li:nth-child(1) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-three .testimonial-star-rating li:nth-child(2) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-three .testimonial-star-rating li:nth-child(3) .oxi-icons {
    color: #FB644E;
}

.oxi_addons_testi_slider_style_1 .rating-four .testimonial-star-rating li:nth-child(1) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-four .testimonial-star-rating li:nth-child(2) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-four .testimonial-star-rating li:nth-child(3) .oxi-icons,
.oxi_addons_testi_slider_style_1 .rating-four .testimonial-star-rating li:nth-child(4) .oxi-icons {
    color: #FB644E;
}


/*--- Default styles ---*/

.oxi_addons_testi_slider_style_1 .oxi-testimonial-image img {
    max-width: 100%;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-image {
    padding: 10px 0px 0px 0px;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-image>figure {
    display: block;
    margin: 0;
}

.testimonial-avatar-rounded figure img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: auto;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content {
    margin: 0;
    padding: 10px;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item>figure {
    margin: 0 auto;
    padding: 0 20px;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item .center-text {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item .right-text {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item .left-text {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item .justify-text {
    text-align: justify;
}


/*--- Default Style ---*/

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content .oxi-testimonial-text {
    font-size: 100%;
    font-style: italic;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content .oxi-testimonial-user {
    display: inline-block;
    font-family: inherit;
    font-size: 105%;
    font-style: italic;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;

}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content .oxi-testimonial-user-company {
    display: inline-block;
    font-family: inherit;
    font-size: 90%;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.75;
    margin-bottom: 0;
    margin-top: 1px;

}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-image {
    position: relative;
}
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .default-style-testimonial-content {

    text-align: center;
}
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-left .default-style-testimonial-content {

    text-align: left;
}
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-right .default-style-testimonial-content {

    text-align: right;
}


.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-left .oxi-testimonial-image figure img,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-right .oxi-testimonial-image figure img,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-left .oxi-testimonial-image figure img,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-right .oxi-testimonial-image figure img,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-left .oxi-testimonial-image figure img,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-right .oxi-testimonial-image figure img {
    margin: 0;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-right .oxi-testimonial-image figure,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-right .oxi-testimonial-image figure,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-right .oxi-testimonial-image figure {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-left .oxi-testimonial-image figure,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-left .oxi-testimonial-image figure,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-left .oxi-testimonial-image figure {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-right .default-style-testimonial-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-right .testimonial-classic-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-right .middle-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-right .oxi-testimonial-text {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-center .default-style-testimonial-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-center .testimonial-classic-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-center .middle-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-center .oxi-testimonial-text {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.default-style .oxi-testimonial-align-left .default-style-testimonial-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.classic-style .oxi-testimonial-align-left .testimonial-classic-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-left .middle-style-content,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.middle-style .oxi-testimonial-align-left .oxi-testimonial-text {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-left-content .oxi-testimonial-text>p,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-right-content .oxi-testimonial-text>p {
    margin: 0px;
}


/*--- Left align ---*/

.oxi_addons_testi_slider_style_1 .icon-img-left-content .oxi-testimonial-image {
    float: left;
    width: 30%;
}

.oxi_addons_testi_slider_style_1 .icon-img-left-content .oxi-testimonial-content {
    float: left;
    width: 70%;
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .icon-img-left-content.oxi-testimonial-item {
    overflow: hidden;
    position: relative;
}

.oxi_addons_testi_slider_style_1 .icon-img-left-content .oxi-testimonial-quote {
    position: absolute;
    right: 0;
}

.oxi_addons_testi_slider_style_1 .icon-img-left-content .oxi-testimonial-text {
    margin-top: 0;
}


/*--- Center align ---*/

.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .oxi-testimonial-user,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .oxi-testimonial-user-company {
    float: none;
    text-align: center;
}

.oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .testimonial-inline-style {
    margin: 0 auto;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-centered .oxi-testimonial-image {
    display: block;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-right .oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-right .testimonial-inline-style {
    margin: 0 0 0 auto;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-left .oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-align-left .testimonial-inline-style {
    margin: 0 auto 0 0;
}


/*--- Right align ---*/

.oxi_addons_testi_slider_style_1 .icon-img-right-content .oxi-testimonial-image {
    float: right;
    width: 30%;
}

.oxi_addons_testi_slider_style_1 .icon-img-right-content .oxi-testimonial-content {
    float: left;
    width: 70%;
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .icon-img-right-content.oxi-testimonial-item {
    overflow: hidden;
    position: relative;
}

.oxi_addons_testi_slider_style_1 .icon-img-right-content .oxi-testimonial-quote {
    position: absolute;
}

.oxi_addons_testi_slider_style_1 .icon-img-right-content .oxi-testimonial-text {
    margin-top: 0;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item {
    position: relative;
}

.oxi_addons_testi_slider_style_1 .classic-style.testimonial-alignment-center .oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .default-style.testimonial-alignment-center .oxi-testimonial-image {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .classic-style.testimonial-alignment-right .oxi-testimonial-image,
.oxi_addons_testi_slider_style_1 .default-style.testimonial-alignment-right .oxi-testimonial-image {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .classic-style.testimonial-alignment-center .oxi-testimonial-image>figure,
.oxi_addons_testi_slider_style_1 .default-style.testimonial-alignment-center .oxi-testimonial-image>figure {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-left-content .oxi-testimonial-align-centered .oxi-testimonial-content {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-left-content .oxi-testimonial-align-left .oxi-testimonial-content {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-left-content .oxi-testimonial-align-right .oxi-testimonial-content {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-right-content .oxi-testimonial-align-centered .oxi-testimonial-content {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-right-content .oxi-testimonial-align-left .oxi-testimonial-content {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-slider.icon-img-right-content .oxi-testimonial-align-right .oxi-testimonial-content {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 span.oxi-testimonial-quote {
    position: absolute;
    right: 10px;
    top: 10px;
}


/*--- Image aligned ---*/

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item.left .oxi-testimonial-image {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item.center .oxi-testimonial-image {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-item.right .oxi-testimonial-image {
    text-align: right;
}


/*--- Float title image style ---*/

.oxi_addons_testi_slider_style_1 .oxi-testimonial-inline-bio .oxi-testimonial-image {
    float: left;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-inline-bio .bio-text {
    padding-top: 10px;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content.oxi-testimonial-inline-bio {
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-inline-bio .testimonial-star-rating,
.oxi_addons_testi_slider_style_1 .oxi-testimonial-inline-bio .bio-text {
    float: left;
    width: 65%;
}

.oxi_addons_testi_slider_style_1 .oxi-testimonial-content.oxi-testimonial-inline-bio {
    text-align: left !important;
}


/*--- Float inline style ---*/

.oxi_addons_testi_slider_style_1 .testimonial-inline-style .oxi-testimonial-image {
    float: left;
    max-width: 100%;
    padding: 0;
    margin-right: 15px;
}

.oxi_addons_testi_slider_style_1 .testimonial-inline-style {
    overflow: hidden;
    text-align: left;
    width: 40%;
}

.oxi_addons_testi_slider_style_1 .content-top-icon-title-inline .oxi-testimonial-text,
.oxi_addons_testi_slider_style_1 .content-top-icon-title-inline .oxi-testimonial-align-left .oxi-testimonial-text {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .content-top-icon-title-inline .oxi-testimonial-align-centered .oxi-testimonial-text {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .content-top-icon-title-inline .oxi-testimonial-align-right .oxi-testimonial-text {
    text-align: right;
}

.oxi_addons_testi_slider_style_1 .content-bottom-icon-title-inline .oxi-testimonial-text,
.oxi_addons_testi_slider_style_1 .content-bottom-icon-title-inline .oxi-testimonial-align-left .oxi-testimonial-text {
    text-align: left;
}

.oxi_addons_testi_slider_style_1 .content-bottom-icon-title-inline .oxi-testimonial-align-centered .oxi-testimonial-text {
    text-align: center;
}

.oxi_addons_testi_slider_style_1 .content-bottom-icon-title-inline .oxi-testimonial-align-right .oxi-testimonial-text {
    text-align: right;
}
.oxi_addons_testi_slider_style_1 .swiper-button-prev::after,
.oxi_addons_testi_slider_style_1 .swiper-button-next::after{
    display: none;
}
.oxi_addons_testi_slider_style_1 .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%; 
}
.oxi_addons_testi_slider_style_1  .oxi_addons__dot_main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.oxi_addons_testi_slider_style_1  .oxi_addons__dot .swiper-pagination-bullet{
    opacity: 1;
}
.oxi_addons_testi_slider_style_1  .swiper-pagination-inside{
    bottom: 40px; 
    left: 0; 
    width: 100%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left : auto;
    right : 10px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-prev{
    right: auto;
    left : 10px;
}
