.oxi-addons-wrapper-flip-carousel-style-2{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}
.oxi-addons-wrapper-flip-carousel-style-2 .flip-custom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}