 .oxi_addons__logo_carousel_style_1 .oxi_addons_grayscale {
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     filter: grayscale(100%);
     filter: gray;
 }
 
 .oxi_addons__logo_carousel_style_1 * {
     transition: inherit;
     -webkit-transition: inherit;
     -moz-transition: inherit;
     -ms-transition: inherit;
     -o-transition: inherit;
 }
 
 .oxi_addons__logo_carousel_style_1 .oxi_addons__logo_carousel_item {
     max-width: 100%;
 }
 
 .oxi_addons__logo_carousel_style_1 .oxi_addons_grayscale_hover:hover {
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     filter: grayscale(100%);
     filter: gray;
 }
 
 .oxi_addons__logo_carousel_style_1 .oxi_addons__image:not(.oxi_addons_grayscale_hover):hover {
     -webkit-filter: none;
     -moz-filter: none;
     -ms-filter: none;
     filter: none;
 }
 
 .swiper-container-rtl .swiper-button-prev {
     right: auto !important;
 }
 
 .oxi_addons__logo_carousel_style_1 .oxi_addons__title {
     width: 100%;
     font-size: 16px;
     font-family: "Roboto", Sans-serif;
     font-weight: 500;
     font-style: normal;
     text-align: center;
     color: #f0f0f0;
 }