.oxi-helpdesk-style-1 .oxi-helpdesk {
    z-index: 99999;
    position: relative
}



.oxi-helpdesk-style-1  .oxi-helpdesk-icons {
    filter: url("#oxi-helpdesk-icon-wrapper");
    -webkit-filter: url("#oxi-helpdesk-icon-wrapper");
}

.oxi-helpdesk-style-1   .hamburger {
    width: 40%;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 200ms;
    transform: translateX(-50%)
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item,
.oxi-helpdesk-style-1   .oxi-helpdesk-icons-open-button {
    background: #32DED4;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: -25px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: all ease-out 200ms
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-open {
    display: none
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons {
    position: fixed;
    bottom: 30px;
    height: 480px;
    width: 70px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center
}

.oxi-helpdesk-style-1   span.helpdesk-intro-text {
    position: absolute;
    right: 100%;
    background: #fff;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.09);
    width: 234px;
    color: #333;
    font-size: 14px;
    line-height: normal;
    padding: 15px 30px;
    text-align: left;
    border-radius: 80px;
    margin-right: 10px;
    bottom: 6px
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item svg {
    width: 20px;
    height: auto
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:hover {
    background: white;
    color: #32DED4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15)
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:nth-child(3),
.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:nth-child(4),
.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:nth-child(5),
.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:nth-child(6),
.oxi-helpdesk-style-1   .oxi-helpdesk-icons-item:nth-child(7) {
    transition-duration: 180ms
}

.oxi-helpdesk-style-1   .oxi-helpdesk-icons-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 400ms;
    cursor: pointer
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open-button:hover {
    transform: scale(1.1, 1.1) translate3d(0, 0, 0)
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked+.oxi-helpdesk-icons-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked+.oxi-helpdesk-icons-open-button .far.fa-life-ring {
    animation: helpdeskrotate 3s cubic-bezier(.3, .4, .3, .95) 0s infinite normal
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item {
    transition-timing-function: cubic-bezier(.43, 1.04, .53, .95)
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(3) {
    transition-duration: 220ms;
    transform: translate3d(0, -60px, 0);
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(4) {
    transition-duration: 320ms;
    transform: translate3d(0, -120px, 0);
    -webkit-transform: translate3d(0, -120px, 0);
    -moz-transform: translate3d(0, -120px, 0);
    -ms-transform: translate3d(0, -120px, 0);
    -o-transform: translate3d(0, -120px, 0);
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(5) {
    transition-duration: 420ms;
    transform: translate3d(0, -180px, 0);
    -webkit-transform: translate3d(0, -180px, 0);
    -moz-transform: translate3d(0, -180px, 0);
    -ms-transform: translate3d(0, -180px, 0);
    -o-transform: translate3d(0, -180px, 0);
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(6) {
    transition-duration: 520ms;
    transform: translate3d(0, -240px, 0);
    -webkit-transform: translate3d(0, -240px, 0);
    -moz-transform: translate3d(0, -240px, 0);
    -ms-transform: translate3d(0, -240px, 0);
    -o-transform: translate3d(0, -240px, 0);
}

.oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(7) {
    transition-duration: 620ms;
    transform: translate3d(0, -350px, 0);
    -webkit-transform: translate3d(0, -350px, 0);
    -moz-transform: translate3d(0, -350px, 0);
    -ms-transform: translate3d(0, -350px, 0);
    -o-transform: translate3d(0, -350px, 0);
}

@media (min-width:960px) {
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-item,
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open-button {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(3) {
        transition-duration: 190ms;
        transform: translate3d(0, -70px, 0);
        -webkit-transform: translate3d(0, -70px, 0);
        -moz-transform: translate3d(0, -70px, 0);
        -ms-transform: translate3d(0, -70px, 0);
        -o-transform: translate3d(0, -70px, 0);
    }
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(4) {
        transition-duration: 290ms;
        transform: translate3d(0, -140px, 0);
        -webkit-transform: translate3d(0, -140px, 0);
        -moz-transform: translate3d(0, -140px, 0);
        -ms-transform: translate3d(0, -140px, 0);
        -o-transform: translate3d(0, -140px, 0);
    }
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(5) {
        transition-duration: 390ms;
        transform: translate3d(0, -210px, 0);
        -webkit-transform: translate3d(0, -210px, 0);
        -moz-transform: translate3d(0, -210px, 0);
        -ms-transform: translate3d(0, -210px, 0);
        -o-transform: translate3d(0, -210px, 0);
    }
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(6) {
        transition-duration: 490ms;
        transform: translate3d(0, -280px, 0);
        -webkit-transform: translate3d(0, -280px, 0);
        -moz-transform: translate3d(0, -280px, 0);
        -ms-transform: translate3d(0, -280px, 0);
        -o-transform: translate3d(0, -280px, 0);
    }
    .oxi-helpdesk-style-1  .oxi-helpdesk-icons-open:checked~.oxi-helpdesk-icons-item:nth-child(7) {
        transition-duration: 590ms;
        transform: translate3d(0, -350px, 0);
        -webkit-transform: translate3d(0, -350px, 0);
        -moz-transform: translate3d(0, -350px, 0);
        -ms-transform: translate3d(0, -350px, 0);
        -o-transform: translate3d(0, -350px, 0);
    }
}
.oxi-helpdesk-style-1 .oxi-helpdesk-icons.left{
    right: auto!important;
    left: 30px;
}
.oxi-helpdesk-style-1 .oxi-helpdesk-icons.right{
    left: auto!important;
    right: 30px;
}

@keyframes helpdeskrotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}