 
.oxi_addons__light_box_style_1 .lg-outer{
    z-index: 99999;
}
.oxi_addons__light_box_style_1 .oxi_addons__light_box_parent {
    width: 100%;
	display: flex;
	justify-content: center;
}
.oxi_addons__light_box_style_1 .oxi_addons__light_box_parent {
    width: 100%;
	display: flex;
	justify-content: center;
}