
.oxi_addons_qrcode_style2{
    width: 100%;
    float: left;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oxi_addons_qrcode_style2 .oxi_addons_qrcode_main{
   
    padding: 10px;
}

.oxi_addons_qrcode_style2 .oxi_addons_qrcode_main canvas {
    max-width: 100%
}

.oxi_addons_qrcode_style2 .sa_qrcode_hidden {
    display: none;
}
