
.oxi_addons_qrcode_style2{
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
}

.oxi_addons_qrcode_style2 .oxi_addons_qrcode_main{
    width: 100%;
    float: left;
    padding: 10px;
}

.oxi_addons_qrcode_style2 .oxi_addons_qrcode_main canvas {
    max-width: 100%
}

.oxi_addons_qrcode_style2 .sa-el-hidden {
    display: none;
}